body {
    font-family: Arial, sans-serif;
    transition: background-color 0.9s ease;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    background-color: white; 
}

h1 { 
    font-size: 2em;
}

h2 {   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color: black;}